Repository nilsreichardt/codemagic-app-preview, pull requests merged in 2024-12, with the labels that each got.

#110 ci(*): reduce CI usage per month (every 14 days)
  .github/workflows/ci.yaml
Labels: ci/cd

#113 chore(app_preview_example): re-create /android folder with Flutter 3.27
  packages/app_preview_example/.metadata
  packages/app_preview_example/android/.gitignore
  packages/app_preview_example/android/app/build.gradle
  packages/app_preview_example/android/app/src/debug/AndroidManifest.xml
  packages/app_preview_example/android/app/src/main/AndroidManifest.xml
  packages/app_preview_example/android/app/src/main/kotlin/io/nilsreichardt/app_preview_example/MainActivity.kt
  packages/app_preview_example/android/app/src/main/kotlin/io/reichardt/app_preview_example/MainActivity.kt
  packages/app_preview_example/android/app/src/profile/AndroidManifest.xml
  packages/app_preview_example/android/build.gradle
  packages/app_preview_example/android/gradle.properties
  packages/app_preview_example/android/gradle/wrapper/gradle-wrapper.properties
  packages/app_preview_example/android/settings.gradle
  packages/app_preview_example/lib/main.dart
  packages/app_preview_example/pubspec.lock
Labels: p:app_preview_example

#114 feat(*): set minium Dart SDK from 2.14 to 2.18 and upgrade to FVM 3
  .fvm/fvm_config.json
  .fvmrc
  .github/workflows/ci.yaml
  .gitignore
  .vscode/settings.json
  packages/app_preview_example/pubspec.yaml
  packages/app_preview_lints/pubspec.yaml
  packages/codemagic_app_preview/lib/src/comment/comment_poster.dart
  packages/codemagic_app_preview/pubspec.yaml
  pubspec.lock
Labels: ci/cd, p:codemagic_app_preview, p:app_preview_example, p:app_preview_lints

#112 test(codemagic_app_preview): replace wrong link to the GitLab repository
  packages/codemagic_app_preview/integration_test/gitlab_api_repository_test.dart
Labels: p:codemagic_app_preview

#115 feat(*): set minium Dart SDK from 2.18 to 3.10
  .fvm/fvm_config.json
  .fvmrc
  .github/workflows/ci.yaml
  .vscode/settings.json
  packages/app_preview_example/pubspec.yaml
  packages/app_preview_lints/pubspec.yaml
  packages/codemagic_app_preview/pubspec.yaml
  pubspec.yaml
Labels: ci/cd, p:codemagic_app_preview, p:app_preview_example, p:app_preview_lints

#116 feat(*): bring pana score from 140 to 160
  packages/app_preview_example/pubspec.lock
  packages/codemagic_app_preview/lib/codemagic_app_preview.dart
  packages/codemagic_app_preview/pubspec.yaml
  pubspec.lock
Labels: p:codemagic_app_preview, p:app_preview_example

#111 fix(codemagic_app_preview): fix posting comment on GitLab
  packages/codemagic_app_preview/integration_test/gitlab_api_repository_test.dart
  packages/codemagic_app_preview/lib/src/git/gitlab_api_repository.dart
Labels: p:codemagic_app_preview

#117 chore(codemagic_app_preview): set version to 0.2.3 and add changelog
  packages/codemagic_app_preview/CHANGELOG.md
  packages/codemagic_app_preview/pubspec.yaml
Labels: p:codemagic_app_preview

#119 ci(*): remove pull_request trigger
  codemagic.yaml
Labels: ci/cd
